@page
@model crud_interface.Pages_Premiums.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 >Index</h1>

<p>
    <a asp-page="Create">
        <button class="buttonCreate premium-buttons">
            <a>Create New</a>
        </button>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th >
                @Html.DisplayNameFor(model => model.Premium[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Premium[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Premium[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Premium[0].Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Premium) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Email)
            </td>
            <td>
                    <a asp-page="./Edit" class="table-options premium-buttons" asp-route-id="@item.id">Edit</a> |
                    <a asp-page="./Details" class="table-options premium-buttons" asp-route-id="@item.id">Details</a> |
                    <a asp-page="./Delete" class="table-options premium-buttons" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
